* {  
      padding: 0px;
      margin: 0px;
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
  }
  
h1 {
      text-align: center;
      font-size: 200px;
      color: aqua;
  }
